<launch>
    <!-- 定义参数 -->
    <arg name="handless" default="true"/>

    <!-- 加载 jointconfig.yaml 文件到参数服务器 -->
    <rosparam command="load" file="$(find humanoid_rl)/config/joint_config.yaml" />
    <rosparam command="load" file="$(find humanoid_rl)/config/policy_config.yaml" />
    <!-- 启动节点 -->
    <node name="humanoid_rl_node" pkg="humanoid_rl" type="humanoid_rl_node" output="screen">    
    </node>

    <!-- 设置 handless 参数 -->
    <param name="handless" value="$(arg handless)"/>
</launch>